<html>
<title>FHEM</title>
<head>
   <!--
    /* FHEM tablet ui */
    /*
    * modul page
    *
    load this template via

    <div data-template="template_div.html" class="cell"></div>

    -->

</head>
<body>
     <div class="inline">
            <div data-type="switch" data-device="Alle_Lichter" class="cell"></div>
            <div data-type="label" class="small darker">Alle Lichter</div>
      </div>
      <div class="inline">
            <div data-type="contact" data-device="Alle_Fenster" class="cell"></div>
            <div data-type="label" class="small darker">Alle Fenster</div>
     </div>
</body>
</html>
