/* Slider colors */
.range-handle {
  background-color: #bcbcbc !important;
}
.range-bar {
  background-color: #404040;
}

polyline {
    stroke: #337ab7 !important;
}

.pagetab.on{background-color:#337ab7;}
.dimmer.on{background-color:#337ab7;}
.symbol.on{color:#337ab7;background-color:#337ab7;}
.switch.on{background-color:#337ab7;}
.checkbox.on{background-color:#337ab7;}
.push.on{color:#337ab7;background-color:#337ab7;}
.homestatus{color:#337ab7;}
.slider{color:#337ab7;}
.volume.hdcolor{color:#337ab7;}
