/* Slider colors */
.range-handle {
  background-color: #bcbcbc !important;
}
.range-bar {
  background-color: #404040;
}

polyline {
    stroke: #32a054 !important;
}

.pagetab.on{background-color:#32a054;}
.dimmer.on{background-color:#32a054;}
.symbol.on{color:#32a054;background-color:#32a054;}
.switch.on{background-color:#32a054;}
.checkbox.on{background-color:#32a054;}
.push.on{color:#32a054;background-color:#32a054;}
.homestatus{color:#32a054;}
.slider{color:#32a054;}
.volume.hdcolor{color:#32a054;}
