.media-list{
    position: relative;
    border-radius: 10px;
    overflow: auto;
    margin: 3px;
    cursor: default !important;
}
.media-list .media{
    position: relative;
    display: block !important;
    border-bottom: 1px solid #454545;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}
.media-list .media:hover{
    background-color: #333;
}
.media-list .media-image{
    width: 15%;
    position: relative;
    display: inline-block;
    text-align: left;
}
.media-list .media-text{
    width: 85%;
    position: relative;
    display: inline-block;

}
.media-list .cover {
    width: 46px;
    height: 46px;
}
.media-list .title {
    font-weight: bold;
    font-size: larger;
    position: relative;
    left: 0px;
    top: 10px;
    text-align: left;
}
.media-list .artist {
    font-weight: normal;
    position: relative;
    left: 0px;
    top: 10px;
    text-align: left;
}

.media-list .duration {
    position: relative;
    right: 20px;
    top: -10px;
    text-align: right;
}
.media-list .media.current .media-text *{
    color: #aa6900;
}
