/* Extension for fhem tablet / viegener */ 

body     { background-color: #000000; background-image:none !important; }


/* used to align small buttons with horizontal slider */
.alignslider {
    margin-top: 0px;
    padding-top: 18px;
}

.triplebox-v {
    min-height: 140x;
    max-height: 140px;
    min-width: 52px;
    max-width: 52px;
}

.triplebox-v [data-type]{
    margin-top:-4px;
    margin-bottom:-4px;
}

.normal { font-size: 100%; }


.bigplus { font-size: 270%; }

.bottom {vertical-align: bottom;}

.maxw40 { max-width: 40px; }

/* overwrite tablet ui generic */
.slider_vertical .slidertext{
text-align: centered;
margin:10px 0px 0px 0px 0% !important;
}
/* overwrite tablet ui generic */
.slider_vertical, .level_vertical {
    padding-left: 12px !important;
    padding-right: 10px !important;
    margin:0px 0px 0px 0% !important;
}

/* overwrite tablet ui generic */
.cell {
    margin:3px 3px !important;
    text-align: center;
    vertical-align: middle;
}

/* overwrite tablet ui generic */
.gridster li header {
    background: #262626;
    color: #8c8c8c;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
    padding: 4px 0px ;
    cursor: move;
}

a { color: #CCCCCC; text-decoration: none;}
a:hover { color: #ffffff; }
.wide { width:100%; } 

table.block { border:1px solid #ffffff; width: 120%; padding-bottom: 6px; padding-top: 6px;
              background: #333333; box-shadow:5px 5px 5px #000;}
table.block tr.odd { background: #111111; }
table.block tr.sel { background: red; }
table { border-radius:8px; border-spacing: 0px; 
       padding-bottom: 6px; padding-top: 6px; }

