body {
    background-color: #ffffff;
    color: #222222;
}

.gridster ul li {
    background-color:#eee;
    overflow: hidden;
    text-align: center;
}

.gridster li header {
    background: #ffffff;
    color: #222;
    border-bottom: 1px solid #222;
}

ul, ol {
    list-style: none;
}

/* Slider colors */
.range-quantity {
  background-color: #0088CC !important;
}
.range-handle {
  background-color: #fff !important;
}
.range-bar {
  background-color: #aaa !important;
}

select {
    color: #444;
}

svg > text {
    fill: #444;
}

polyline {
    stroke: #0088CC !important;
}

.dialog  {
    color: #eeeeee;
}

.pagetab.on{color:#eee;background-color:#0088CC;}
.pagetab.off{color:#eee;background-color:#aaa;}
.dimmer.on{color:#eee;background-color:#0088CC;}
.dimmer.off{color:#eee;background-color:#aaa;}
.symbol.on{color:#0088CC;background-color:#0088CC;}
.symbol.off{color:#eee;background-color:#eee;}
.switch.on{color:#eee;background-color:#0088CC;}
.switch.off{color:#eee;background-color:#aaa;}
.push.on{color:#0088CC;background-color:#0088CC;}
.push.off{color:#888;background-color:#888;}
.thermostat.tkcolor{color:#888;}
.thermostat.fgcolor{color:#555;}
.homestatus.fgcolor{color:#0088CC;}
.homestatus.tkcolor{color:#aaa;}
.volume.hdcolor{color:#0088CC;}
.volume.fgcolor{color:#555;}
