body {
    background-color: #000000;
    font-family: "Helvetica Neue", "Helvetica", "Open Sans", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: small;
    color: #eeeeee;
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-type="dimmer"]{
    z-index:2;
}

.container:after {
    content:"";
    display:table;
    clear:both;
}

.left {
    float: left;
    width: auto;
}

.right {
    float:right;
}

.cell {
    margin:5px 10px !important;
    width: auto;
    text-align: center;
    vertical-align: middle;
}

.inline {
  display: inline-block;
  margin:0px 5px 0px 0px !important;
}


.circlemenu {
    min-height: 52px;
    min-width: 52px;
    display: inline-block;
}

[data-type]:not([data-type="label"]):not(.readonly):not([data-type="symbol"]){
    cursor: pointer;
}

.narrow {
    margin:-5px 5px -6px 5px !important;
    width: auto;
    text-align: center;
}

.wider {
    margin-top: 25px !important;
    width: auto;
    text-align: center;
}

.darker {
    color: #8C8C8C;
}

.thin {
   font-weight: lighter;
}

.bigger {
    font-size: 320% !important;
}
.big {
    font-size: 200%;
}
.large {
    font-size: 150%;
}
.small {
    font-size: 80%;
}

.doublebox-v {
    min-height: 104px;
    max-height: 104px;
    min-width: 52px;
    max-width: 52px;
}

.doublebox-h {
    min-width: 104px;
    max-width: 104px;
    min-height: 52px;
    max-height: 52px;
}

.doublebox-v [data-type]{
    margin-top:-4px;
    margin-bottom:-4px;
}

.doublebox-h [data-type]{
    margin-left:-6px;
    margin-right:-6px;
}

.red{
    color:#ad3333;
}
.green{
    color:#32a054;
}
.blue{
    color:#6699FF;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


input {
        visibility:hidden;
}

.slider_vertical{
height: 100px  !important;
max-height: 100px  !important;
margin:10px 0px 0px 27% !important;
}

.jq-toast-wrap{
        z-index:100;
}

ul, ol {
    list-style: none;
}

.gridster > ul{
    width: 100% !important;
    height: 100% !important;
}

.gridster {
    width: auto;
}

.gridster * {
  margin:0;
  padding:0;
}

.gridster .gs_w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster ul li {
    background-color:#2A2A2A;
    overflow: hidden;
    text-align: center;
}

.gridster li header {
    background: #262626;
    color: #8c8c8c;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
    padding: 4px 10px ;
    cursor: move;
}

.weather:before {
    font-family: 'MeteoconsRegular';
    content: attr(data-icon);
    font-size: 200%;
    color: #dcdcdc;
}

.menu li:first-child {

}
.menu li {

}
.menu li div{
    color: #555;
}
.menu{
    position:absolute;
}
.circleMenu-closed {
    z-index:1000 !important;
    width:0px !important;
}
.circleMenu-open {
    z-index:1001 !important;
}

.ontop{
    position:absolute;
    z-index:1000;
    top:10px;
    left:10px;
}

#shade {
    position:absolute;
    z-index:1001;
    background-color:#000000;
    opacity:0.5;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}

 @keyframes blink {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
    }
    @-webkit-keyframes blink {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
    }
    .blink {
      animation: blink 1s step-start 0s infinite;
      -webkit-animation: blink 1s step-start 0s infinite;
    }
    .fa-blink {
      animation: blink 1s step-start 0s infinite;
      -webkit-animation: blink 1s step-start 0s infinite;
    }


select {
    border-radius: 10px;
    border: 2px solid #8C8C8C;
    background: transparent;
    width: 100%;
    padding: 6px !important;
    padding-right: 30px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: small;
    color: #eeeeee;
}

.w3x > select {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
}

.w2x > select {
    min-width: 110px;
    max-width: 110px;
    width: 110px;
}

.w1x > select {
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}

.select{
    display:inline-block;
    vertical-align:middle;
    position:relative;
}
.select:after{
  position:absolute;
  bottom:.15em;top:.15em;right:.5rem;
  content: "\f107";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 15px;
  padding: 5px !important;
  pointer-events: none;
}


