.controller-wrapper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.controller-area {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: table;
    border-radius: 12px;
    background-color: #404040;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.controller-range {
    position: absolute;

    width: 100%;
    left: 0;
}

.controller-range-full {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.controller-icon {
    width: 100%;
    height: 2em;
    line-height: 2em !important;
    position: absolute;
    bottom: 0;
    left: 0;
}