.spinner {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    border-radius: 30px;
    margin: 3px;
    cursor: default !important;
}

.spinner > .lefticon,
.spinner > .righticon {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    cursor: pointer;
    line-height: 0.5em;
    padding-bottom: 0.1em;
    width: 25%;
}

[data-type="spinner"].plain .lefticon,
[data-type="spinner"].plain .righticon {
    font-size: 30px;
    font-weight: bold;
}

.spinner > .lefticon.fa,
.spinner > .righticon.fa {
    padding-top: 0.225em;
    font-size: 20px;
}

.spinner > .levelArea {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    background-color: #313131;
    height: 7px;
    margin-bottom: -2px;
}

[data-type="spinner"].plain > .levelArea {
    margin-left: 2px;
    margin-right: 2px;
    visibility: hidden;
}

[data-type="spinner"] .levelRange {
    position: absolute;
    border-radius: 5px;
    height: 7px;
}

[data-type="spinner"].valueonly .levelArea {
    visibility: hidden;
}

[data-type="spinner"].value .spinnerText {
    position: absolute;
    top: -20%;
    left: 25%;
}

[data-type="spinner"].valueonly .spinnerText,
[data-type="spinner"].plain .spinnerText {
    position: absolute;
    top: 0.1em;
    left: 23%;
    font-size: 30px;
    font-weight: bold;
    font-family: robotothin, sans-serif;
}

[data-type="spinner"].plain .spinnerText {
    font-size: 18px;
    top: 0.5em;
}
