  .slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
  }

  .slideout-panel {

  }

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }

  .slideout-open .slideout-menu {
    display: block;
  }

  .fixed.open-left {
    -webkit-transform: translate3d(256px, 0px, 0px);
    -moz-transform: translate3d(256px, 0px, 0px);
    -o-transform: translate3d(256px, 0px, 0px);
    -ms-transform: translate3d(256px, 0px, 0px);
    transform: translate3d(256px, 0px, 0px);
  }

.fixed.open-right {
  -webkit-transform: translate3d(-256px, 0px, 0px);
  -moz-transform: translate3d(-256px, 0px, 0px);
  -o-transform: translate3d(-256px, 0px, 0px);
  -ms-transform: translate3d(-256px, 0px, 0px);
  transform: translate3d(-256px, 0px, 0px);
}

[data-type="slideout"] > .icon{

}
