.levelArea {
    position: relative;
    margin-left:auto;
    margin-right:auto;
    display:table;
    border-radius: 15px;
    background-color: #404040;
}
.levelRange {
    position: absolute;
    border-radius: 15px;
    left: 0;
}
.labelMax,.labelMin,.labelLimitMin,.labelLimitMax{
    position: absolute;
    left: -34px;
    text-align: right;
    width: 30px;
    color: #888;
}
.labelMin{ bottom:-6px; }
.labelMax{ top:-9.4px; }



