.roundIndicator .colorIndicator{
    position: relative;
    height:50px;
    width: 50px;
    border-radius: 50%;
    left:10%;
}
.roundIndicator.large .colorIndicator{
    position: relative;
    height:70px;
    width: 70px;
    border-radius: 50%;
    left:10%;
}
.barIndicator  .colorIndicator{
    position: relative;
    width: 50px;
    left: 5%;
    height: 10px;
    margin-top: 10px;
}
.lineIndicator  .colorIndicator{
    position: relative;
    width: 10px;
    left: 10%;
    height: 50px;
    margin-top: 10px;
}
.noneIndicator .colorIndicator,.colorIndicator{
    width: 0;
    height: 0;
}
.colorArea {
    margin: 5px;
}
.colorWheel {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}
.big .colorWheel {
    top:-10px;
}
.farbtastic-mask,.farbtastic-overlay {
    left:0;
}

.roundIndicator  .colorWheel{
    top:-15px;
}
.barIndicator  .colorWheel{
    top:-10px;
}
.lineIndicator  .colorWheel{
    top:-50px;
}
.noneIndicator  .colorWheel{
    top:5px;
    left:20%;
}



