body {
    background-color: #fff;
    color: #222222;
}

nav,
:not([data-type="circlemenu"]) > .menu {
  background: #5bc995;
    color: #ffffff;
}
.menu .menu-trigger {
  background: #5bc995;
}

.gridster > ul > li, .card {
    background-color:#eee;
    text-align: center;
}

.gridster li header, .card > header {
    background: #5bc995;
    color: #222;
}

[data-type="symbol"].big, [data-type="multistatebutton"].big,
[data-type="switch"].big, [data-type="button"].big,
[data-type="push"].big, [data-type="pagebutton"].big {
    font-size: 200% !important;
}

section{
    background-color: #ffffff;
}

.uline{
    border-bottom: 1px solid #888;
}

/* Slider colors */
.range-handle {
  background-color: #fff !important;
}
.range-bar {
  background-color: #aaa;
}

select {
    color: #444;
}

svg > text {
    fill: #444;
}

polyline {
    stroke: #0088CC !important;
}

.dialog  {
    color: #eeeeee;
}

i#warn {
    color: #FFFFFF;
}
i#warn-back {
    color: #DB1D1D;
}

.bg-gray,.btn-gray               { background-color:#999999;}
.bg-lightgray,.btn-lightgray     { background-color:#EDEDED;}

option {background-color: #ffffff;}

/* pseudo classes for widget init function */
.pagetab.on{color:#eee;background-color:#0088CC;}
.pagetab.off{color:#eee;background-color:#aaa;}
.dimmer.on{color:#eee;background-color:#0088CC;}
.dimmer.off{color:#eee;background-color:#aaa;}
.symbol.on{color:#0088CC;background-color:#0088CC;}
.symbol.off{color:#222;background-color:#222;}
.switch.on{color:#eee;background-color:#0088CC;}
.switch.off{color:#eee;background-color:#aaa;}
.push.on{color:#0088CC;background-color:#0088CC;}
.push.off{color:#888;background-color:#888;}
.thermostat.tkcolor{color:#888;}
.thermostat.fgcolor{color:#555;}
.thermostat.input{color:#444;}
.homestatus.fgcolor{color:#0088CC;}
.homestatus.tkcolor{color:#aaa;}
.checkbox.on {color:#fff;background-color:#5bc995;}
.checkbox.off {color:#fff;background-color:#999;}
.slider{color:#0088CC;background-color:#999;}
.volume.hdcolor{color:#0088CC;}
.volume.fgcolor{color:#555;}
