/* import needed for availability of FHEM plot stlyes in the HTML files */
@import "../../pgm2/svg_style.css";

/* start of styles for chart widget */

/* Definition of the chart background area */
.chart-background {
	fill:url(#gr_bgftui);
	fill-opacity: 1;
}
/* Definition of the axes generally*/
.text.axes {
	fill: #bbb;
	font-size: 10px;
}
/* Definition of specialities for x-axis */
.xaxis {
	stroke-width: 1px;
}
/* Definition of specialities for y-axis */
.yaxis {
	stroke-width: 1px;
}
/* Definition of the gridlines generally */
.gridlines {
	stroke: #bbb;
}
/* Definition of specialities for x-axis */
.xticks {
	stroke-width: 1px;
	stroke-dasharray:1px,2px;
}
/* Definition of specialities for y-axis */
.yticks {
	stroke-width: 1px;
}
/* Definition for crosshair cursor */
.crosshair {
	stroke: #bababa;
	background: #fff;
	stroke-width: 1px;
	fill: #bababa;
	font-size: 9px;
}
/* Definition of size etc. for the buttons */
.buttons {
	font-size: 24px;
	fill: #555;
}
/* Definition for activated texts ('legend' and 'cursor') */
.caption.active {
	fill: #AA6900
}
/* Definition for caption texts ('legend' and 'cursor') */
.caption {
	font-size: 11px;
	font-weight: bold;
	fill-opacity: 1;
}
/* Definition for legend window */
.legend {
	stroke: #baabba;
	font-size: 11px;
	stroke-width: 0;
	fill: #aaa;
	fill-opacity: 0.7;
}
.text.legend {
	fill-opacity: 1;
}

/* Definition for styles to be used for graphs (as alternative to the standard FHEM plot styles */
.ftui.l0		{ stroke:#DDA400; stroke-width:2px; fill:none; }
.ftui.l1		{ stroke:#BBBBBB; stroke-width:2px; fill:none; }
.ftui.l2		{ stroke:#CC0000; stroke-width:2px; fill:none; }
.ftui.l3		{ stroke:#CCCC00; stroke-width:2px; fill:none; }
.ftui.l4		{ stroke:#33CC33; stroke-width:2px; fill:none; }
.ftui.l5		{ stroke:#33CCCC; stroke-width:2px; fill:none; }
.ftui.l6		{ stroke:#3333CC; stroke-width:2px; fill:none; }

/* Normal lines */
.ftui.l0sym		{ stroke:#DDA400; stroke-width:12px; fill:none; }
.ftui.l1sym		{ stroke:#BBBBBB; stroke-width:12px; fill:none; }
.ftui.l2sym		{ stroke:#CC0000; stroke-width:12px; fill:none; }
.ftui.l3sym		{ stroke:#CCCC00; stroke-width:12px; fill:none; }
.ftui.l4sym		{ stroke:#33CC33; stroke-width:12px; fill:none; }
.ftui.l5sym		{ stroke:#33CCCC; stroke-width:12px; fill:none; }
.ftui.l6sym		{ stroke:#3333CC; stroke-width:12px; fill:none; }

/* Dashed lines */
.ftui.l0dash	{ stroke:#DDA400; stroke-width:2px; fill:none; stroke-dasharray:5px,3px; }
.ftui.l1dash	{ stroke:#BBBBBB; stroke-width:2px; fill:none; stroke-dasharray:5px,3px; }
.ftui.l2dash	{ stroke:#CC0000; stroke-width:2px; fill:none; stroke-dasharray:5px,3px; }
.ftui.l3dash	{ stroke:#CCCC00; stroke-width:2px; fill:none; stroke-dasharray:5px,3px; }
.ftui.l4dash	{ stroke:#33CC33; stroke-width:2px; fill:none; stroke-dasharray:5px,3px; }
.ftui.l5dash	{ stroke:#33CCCC; stroke-width:2px; fill:none; stroke-dasharray:5px,3px; }
.ftui.l6dash	{ stroke:#3333CC; stroke-width:2px; fill:none; stroke-dasharray:5px,3px; }

/* Dotted lines */
.ftui.l0dot		{ stroke:#DDA400; stroke-width:2px; fill:none; stroke-dasharray:2px,2px; }
.ftui.l1dot		{ stroke:#BBBBBB; stroke-width:2px; fill:none; stroke-dasharray:2px,2px; }
.ftui.l2dot		{ stroke:#CC0000; stroke-width:2px; fill:none; stroke-dasharray:2px,2px; }
.ftui.l3dot		{ stroke:#CCCC00; stroke-width:2px; fill:none; stroke-dasharray:2px,2px; }
.ftui.l4dot		{ stroke:#33CC33; stroke-width:2px; fill:none; stroke-dasharray:2px,2px; }
.ftui.l5dot		{ stroke:#33CCCC; stroke-width:2px; fill:none; stroke-dasharray:2px,2px; }
.ftui.l6dot		{ stroke:#3333CC; stroke-width:2px; fill:none; stroke-dasharray:2px,2px; }

/* Filled graphs */
.ftui.l0fill	{ stroke:#DDA400; fill:url(#gr_ftui0); stroke-width:2px; fill-opacity:0.8 }
.ftui.l1fill	{ stroke:#BBBBBB; fill:url(#gr_ftui1); stroke-width:2px; fill-opacity:0.8 }
.ftui.l2fill	{ stroke:#CC0000; fill:url(#gr_ftui2); stroke-width:2px; fill-opacity:0.8 }
.ftui.l3fill	{ stroke:#CCCC00; fill:url(#gr_ftui3); stroke-width:2px; fill-opacity:0.8 }
.ftui.l4fill	{ stroke:#33CC33; fill:url(#gr_ftui4); stroke-width:2px; fill-opacity:0.8 }
.ftui.l5fill	{ stroke:#33CCCC; fill:url(#gr_ftui5); stroke-width:2px; fill-opacity:0.8 }
.ftui.l6fill	{ stroke:#3333CC; fill:url(#gr_ftui6); stroke-width:2px; fill-opacity:0.8 }

/* additional settings for the text (mainly for legend window) */
text.ftui.l0, text.ftui.l0sym, text.ftui.l0dot, text.ftui.l0dash, text.ftui.l0fill { stroke:none; fill:#DDA400; } 
text.ftui.l1, text.ftui.l1sym, text.ftui.l1dot, text.ftui.l1dash, text.ftui.l1fill { stroke:none; fill:#BBBBBB; } 
text.ftui.l2, text.ftui.l2sym, text.ftui.l2dot, text.ftui.l2dash, text.ftui.l2fill { stroke:none; fill:#CC0000; }
text.ftui.l3, text.ftui.l3sym, text.ftui.l3dot, text.ftui.l3dash, text.ftui.l3fill { stroke:none; fill:#CCCC00; }
text.ftui.l4, text.ftui.l4sym, text.ftui.l4dot, text.ftui.l4dash, text.ftui.l4fill { stroke:none; fill:#33CC33; }
text.ftui.l5, text.ftui.l5sym, text.ftui.l5dot, text.ftui.l5dash, text.ftui.l5fill { stroke:none; fill:#33CCCC; }
text.ftui.l6, text.ftui.l6sym, text.ftui.l6dot, text.ftui.l6dash, text.ftui.l6fill { stroke:none; fill:#3333CC; }

/* end of styles for chart widget */
